<div class="container mt-5">
  <h1 style="text-align: center">Ajouter un nouveau compte admin</h1>

</div>

<div class="container mt-5 col-8">
  <form>

    <div class="row d-flex justify-content-around">
      <div class="mb-4 col-5">
        <label for="inputNom" class="form-label">Nom :</label>
        <input type="text" class="form-control" id="inputNom" aria-describedby="emailHelp" name="loginRequest.username" >
      </div>

      <div class="mb-4 col-5">
        <label for="inputPrenom" class="form-label">Prenom :</label>
        <input type="text" class="form-control" id="inputPrenom" name="loginRequest.password" >

      </div>
    </div>


    <div class="row d-flex justify-content-around mt-4">
      <div class="mb-4 col-5">
        <label for="username" class="form-label">Username :</label>
        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="loginRequest.username" >
      </div>

      <div class="mb-4 col-5">
        <label for="inputPassword" class="form-label">Mot de passe :</label>
        <input type="password" class="form-control" id="inputPassword" name="loginRequest.password" >

      </div>
    </div>


    <div class="row d-flex justify-content-around mt-4">
      <div class="mb-4 col-5">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="loginRequest.username" >
      </div>

      <div class="mb-4 col-5">
        <label for="CIN" class="form-label">CIN :</label>
        <input type="number" class="form-control" id="CIN" name="loginRequest.password" >

      </div>
    </div>


    <div class="row d-flex justify-content-around mt-4">
      <div class="mb-4 col-5">
        <label for="adresse" class="form-label">Adresse :</label>
        <input type="text" class="form-control" id="adresse" aria-describedby="emailHelp" name="loginRequest.username" >
      </div>

      <div class="mb-4 col-5">
        <label for="Telephone" class="form-label">Telephone :</label>
        <input type="number" class="form-control" id="Telephone" name="loginRequest.password" >

      </div>
    </div>

    <div class="row d-flex justify-content-around mt-4">
      <div class="mb-4 col-7">
        <label for="dateNaissance" class="form-label">Date de naissance :</label>
        <input type="date" class="form-control" id="dateNaissance" aria-describedby="emailHelp" name="loginRequest.username" >
      </div>

    </div>


    <div class="d-flex justify-content-around mb-5">

      <button type="button" class="btn btn-success mt-4 mb-5" >Ajouter</button>

    </div>
  </form>
</div>
